* {
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  header {
    align-items: flex-start;
  }
}

section.look-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 700px) {
  section.look-button {
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
  }
}

div.button {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 0px 20px 20px 20px;
  border: 2px solid orange;
}

@media (min-width: 700px) {
  div.button {
    align-self: flex-start;
    background-color: transparent;
    color: orange;
    font-size: 1.5rem;
  }
}

@media (min-width: 700px) {
  div.button:hover {
    color: white;
    background-color: orange;
  }
}

section > h2 {
  font-size: 1.5rem;
}

@media (min-width: 700px) {
  section > h2 {
    font-size: 4em;
    align-self: flex-start;
    margin-top: 0px;
  }
}

h1 {
  color: orange;
  font-size: 1rem;
}

@media (min-width: 700px) {
  h1 {
    font-size: 2rem;
  }
}

.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pictures > :nth-child(1) {
  background-image: url(images/01.jpg);
}

.pictures > :nth-child(2) {
  background-image: url("images/02.jpg");
}

.pictures > :nth-child(3) {
  background-image: url("images/03.jpg");
}

div.picture {
  height: 200px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  margin: 10px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div > p:nth-child(2) {
  font-weight: bold;
  font-size: 1.1rem;
}

p {
  margin: 0px;
}
