* {
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  width: 400px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.look-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.button {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 0px 20px 20px 20px;
}

section > h2 {
  font-size: 1.5rem;
}

h1 {
  color: orange;
  font-size: 1rem;
}
